.advantages {
  background-color: $white-color;
  border: solid 2px #45e157;
}

.advantages__group {
  padding: 34px 13px 39px;
  text-align: center;
  background-color: $background-dignity;
  color: $white-color;

  &--folded {
    padding: 25px 35px;
    background-color: $background-dignity--folder;
    color: $black-color;
  }

  &--real-town {
    padding: 71px 13px 39px;
  }
}

.advantages__item--real-town {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 37px;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
  }
}

.advantages__title {
  @include text-parameters (normal, bold , 18px, 26px, uppercase);
  @include reset;
  margin-bottom: 15px;
}

.advantages__number {
  @include text-parameters (normal, normal, 14px, 26px, uppercase);
}

.advantages__text {
  @include text-parameters (normal, normal , 14px, 26px, uppercase);
  margin-bottom: 0;
}

.advantages__list-dignities {
  @include reset-list;
  padding: 35px 15px 35px 70px;
}

.advantages__dignity {
  margin-bottom: 26px;
}

.advantages__dignity--housing {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -45px;
    width: 32px;
    height: 38px;
    mask-image: url("../img/icon-house.svg");
    background-color: $background-dignity;
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}

.advantages__dignity--souvenirs {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -45px;
    width: 39px;
    height: 36px;
    mask-image: url("../img/icon-gift.svg");
    background-color: $background-dignity;
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}

.advantages__dignity--hamburger {
  position: relative;
  margin-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -50px;
    width: 40px;
    height: 35px;
    mask-image: url("../img/icon-burger.svg");
    background-color: $background-dignity;
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}

.advantages__dignity-title {
  @include text-parameters (normal, bold , 18px, 26px, uppercase);
  @include reset;
}

.advantages__dignity-text {
  @include text-parameters (normal, normal , 14px, 22px, uppercase);
  @include reset;
  margin-top: 26px;
}

// Планшет

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item--real-town {
    display: flex;
    flex-wrap: wrap;

    &::before {
      display: none;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 320px;
      height: 37px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
    }
  }

  .advantages__item--devil-bridge {
    display: flex;
  }

  .advantages__item--folded {
    max-width: 33.33%;
  }

  .advantages__group {
    max-width: 33.33%;
    padding: 43px 32px 32px;

    &--folded {
      max-width: 100%;
    }
  }

  .advantages__img {
    width: 66.66%;
  }

  .advantages__group--bridge {
    order: 2;
  }

  .advantages__group--area {
    padding: 42px 33px 63px;
    height: 100%;
  }

  .advantages__group--road {
    padding: 42px 47px;
    height: 100%;
  }

  .advantages__group--tourists {
    padding: 42px 40px;
    height: 100%;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__list-dignities {
    display: grid;
    grid-template-columns: 207px 231px 193px;
    column-gap: 35px;
    padding: 158px 31px 59px 36px;
    text-align: center;
  }

  .advantages__dignity {
    margin: 0;
  }

  .advantages__dignity--housing {
    padding: 0 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -105px;
      left: 65px;
      width: 75px;
      height: 72px;
      mask-image: url("../img/icon-house.svg");
      background-color: $background-dignity;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  .advantages__dignity--hamburger {
    order: 2;
    padding: 0 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -105px;
      left: 78px;
      width: 76px;
      height: 68px;
      mask-image: url("../img/icon-burger.svg");
      background-color: $background-dignity;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  .advantages__dignity--souvenirs {
    order: 3;
    min-width: 193px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -110px;
      left: 65px;
      width: 64px;
      height: 75px;
      mask-image: url("../img/icon-gift.svg");
      background-color: $background-dignity;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }
}

// Десктоп

@media (min-width: $desktop-width) {
  .advantages__item--devil-bridge {
    width: 100%;
  }

  .advantages--folded {
    max-width: 33.33%;
  }

  .advantages__group {
    max-width: 33.3%;
    padding: 43px 32px 32px;

    &--folded {
      max-width: 100%;
    }
  }

  .advantages__group--bridge {
    order: 2;
  }

  .advantages__group--area {
    padding: 43px 43px 62px;
  }

  .advantages__group--road {
    padding: 42px 54px 62px;
  }

  .advantages__group--tourists {
    padding: 43px 55px 62px;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__list-dignities {
    display: grid;
    grid-template-columns: 282px 313px 244px;
    column-gap: 104px;
    padding: 159px 78px 80px 53px;
  }

  .advantages__dignity--housing {
    padding: 0 15px;

    &::before {
      content: "";
      position: absolute;
      top: -105px;
      left: 103px;
      width: 75px;
      height: 72px;
      mask-image: url("../img/icon-house.svg");
      background-color: $background-dignity;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  .advantages__dignity--hamburger {
    order: 2;

    &::before {
      content: "";
      position: absolute;
      top: -105px;
      left: 118px;
      width: 76px;
      height: 68px;
      mask-image: url("../img/icon-burger.svg");
      background-color: $background-dignity;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  .advantages__dignity--souvenirs {
    order: 3;
    margin-left: 17px;

    &::before {
      content: "";
      position: absolute;
      top: -110px;
      left: 82px;
      width: 64px;
      height: 75px;
      mask-image: url("../img/icon-gift.svg");
      background-color: $background-dignity;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }
}
