.footer {
  width: 100%;
  padding: 28.5px 85px 23px;
  text-align: center;
  border: solid 2px #e6d03b;
  background-color: $white-color;
}

.footer__hashtag {
  @include text-parameters (normal, bold , 21px, 26px, uppercase);
  text-decoration: none;
  color: $black-color;
}

@media (min-width: $tablet-width) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 36px 60px 36px 45px;
  }
}
