
.footer {
  padding: 28.5px 78px 26px 76px;
  margin-top: 10px;
  text-align: center;
  border: solid 2px #e6d03b;
  background-color: $white-color;

  &__hashtag {
    @include text-parameters (normal, bold , 21px, 26px, uppercase);
    text-decoration: none;
    color: $black-color;
  }
}

.social__list {
  @include reset-list;
}
