
.interested {
  background-color: $white-color;
  color: $black-color;
  border: solid 2px #F81515;

  &__title {
    @include text-parameters (normal, bold , 18px, 26px, uppercase);
  }

  &__text {
    @include text-parameters (normal, normal , 14px, 26px, uppercase);
  }
}

.interested__link {
  display: inline-block;
  padding: 14.5px 32px 17.5px;

  @include text-parameters (normal, bold , 21px, 26px, uppercase);
  text-align: center;
  text-decoration: none;

  background-color: $background-dignity;
  color: $white-color;
}

