.intro__description {
  padding: 32px 30px 11px;

  &::before {
    content: "";
    position: absolute;
    top: 363px;
    left: 0;
    width: 320px;
    height: 50px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
  }
}

.intro-description__slogan {
  @include text-parameters (normal, bold , 18px, 26px, uppercase);
  @include reset;
  text-align: center;
}

.intro-description__text {
  @include text-parameters (normal, normal , 14px, 26px, uppercase);
  @include reset;
  margin-top: 35px;
  text-align: center;
}

// Планшет

@media (min-width: $tablet-width) {
  .intro__description {
    padding: 43px 124px 52px;
  }

  .intro-description__slogan {
    font-size: 21px;
  }
}

// Десктоп

@media (min-width: $desktop-width) {
  .intro__description {
    padding: 55px 358px 41px;
  }
}
