.intro__description {
  padding: 32px 30px 11px;
}

.intro-description__slogan {
  @include text-parameters (normal, bold , 18px, 26px, uppercase);
  @include reset;
  text-align: center;
}

.intro-description__text {
  @include text-parameters (normal, normal , 14px, 26px, uppercase);
  @include reset;
  margin-top: 35px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro__description {
    padding: 32px 124px 11px;
  }
}
