.intro {
  background-color: $white-color;
  border: solid 2px #ff00ff;
}

.intro__background--index {
  padding: 90px 19px 85px;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-width: $tablet-width) {
    padding: 77px 153px 91px;
    height: 518px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 370px 90px;
  }
}

.intro__background--photo {
  padding: 52px 45px 67px;
  height: 158px;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  &::before {
    content: "";
    position: absolute;
    top: 132px;
    left: 0;
    width: 320px;
    height: 26px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding: 95px 155px 117px;
    height: 290px;

    &::before {
      content: "";
      position: absolute;
      top: 233px;
      left: 0;
      width: 768px;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 78px 370px 90px;
    height: 301px;

    &::before {
      content: "";
      position: absolute;
      top: 244px;
      left: 0;
      width: 1200px;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      background-repeat: no-repeat;
    }
  }
}

.intro__background--form {
  padding: 52px 45px 67px;
  height: 158px;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-width: $tablet-width) {
    padding: 101px 155px 117px;
    height: 290px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 370px 120px;
    height: 301px;
  }
}
