.intro {
  background-color: $white-color;
  border: solid 2px #ff00ff;
}

<<<<<<< HEAD
.intro__background {
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
=======
.intro__background--index {
  padding: 90px 19px 85px;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-width: $tablet-width) {
    padding: 77px 153px 91px;
    height: 518px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 370px 90px;
  }
}

.intro__background--photo {
  padding: 52px 45px 67px;
  height: 158px;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-width: $tablet-width) {
    padding: 95px 155px 117px;
    height: 290px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 370px 90px;
    height: 301px;
  }
}

.intro__background--form {
  padding: 52px 45px 67px;
  height: 158px;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-width: $tablet-width) {
    padding: 101px 155px 117px;
    height: 290px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 370px 120px;
    height: 301px;
  }
>>>>>>> 309eec6e58f4235ea6a9c8e19e11b6b6933b63f2
}
