.main-nav {
  min-width: 320px;
  min-height: 56px;
  background-color: $white-color;
  position: relative;
}

.main-nav__list {
  @include reset-list;
  display: none;
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 18px;
  z-index: 2;
  display: block;
  width: 22px;
  height: 22px;
  mask-image: url("../img/icon-cross.svg");
  background-color: $white-color;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: $white-color;
  }
}

.main-nav__logo {
  min-width: 320px;
  min-height: 56px;
}

.main-nav__logo-img {
  position: absolute;
  z-index: 1;
  left: 110px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    min-width: 0;
    min-height: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .main-nav__logo-img {
    top: 0;
    left: 330px;
  }

  .main-nav__logo {
    min-width: 0;
    min-height: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-img {
    left: 550px;
  }
}
