.photo {
  background-color: $white-color;
  border: 2px solid #4bd5e1;
}

.photo__intro {
  text-align: center;
<<<<<<< HEAD
  padding: 32px 9px 20px 12px;
=======
  padding: 32px 15px 20px 15px;
>>>>>>> 309eec6e58f4235ea6a9c8e19e11b6b6933b63f2
}

.photo__intro-title {
  @include text-parameters (normal, bold , 18px, 26px, uppercase);
  @include reset;
}

.photo__intro-description {
  @include text-parameters (normal, normal , 14px, 26px, uppercase);
  @include reset;
  margin-top: 35px;
  margin-bottom: 0;
}
<<<<<<< HEAD
=======

// Планшет

@media (min-width: $tablet-width) {
  .photo__intro {
    padding: 65px 161px;
  }

  .photo__intro-title {
    @include text-parameters (normal, bold , 30px, 26px, uppercase);
  }
}

// Десктоп

@media (min-width: $desktop-width) {
  .photo__intro {
    padding: 102px 377px 67px;
  }
}
>>>>>>> 309eec6e58f4235ea6a9c8e19e11b6b6933b63f2
