
.reviews {
  background-color: $white-color;
  border: solid 2px #42C55B;
}

.feedback__section {
  border:none;
}











.feedback__error-popup {
  border: solid 2px #5E3BE1;
}

.feedback__success-popup {
  border: solid 2px #FC4F5F;
}

