.attractions {
  padding: 0 26px 47px 24px;
}

.attractions__subtitle {
  @include text-parameters (normal, bold , 18px, 26px, uppercase);
  margin-bottom: 25px;
  text-align: center;
}

.attractions__list {
  @include reset-list;
}

.attractions__label {
  @include text-parameters (normal, bold , 14px, 26px, uppercase);
}

.attractions__item-point {
  margin-right: 29px;
}

.attractions__item {
  margin-bottom: 21px;
}

.attractions__item:last-child {
  margin-bottom: 0;
}
<<<<<<< HEAD
=======

// Планшет

@media (min-width: $tablet-width) {
  .attractions {
    order: 4;
    width: 100%;
    padding: 0 64px 75px 100px;
  }

  .attractions__subtitle {
    width: 47.5%;
    font-size: 21px;
    margin-bottom: 47.5px;
  }

  .attractions__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

// Десктоп

@media (min-width: $desktop-width) {
  .attractions {
    padding: 0 0 75px 0;
  }

  .attractions__subtitle {
    max-width: 40.5%;
  }

  .attractions__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 74px;
  }

  .attractions__label {
    font-size: 18px;
  }
}
>>>>>>> 309eec6e58f4235ea6a9c8e19e11b6b6933b63f2
