.emotions {
  padding: 0 21px 51px 19px;
}

.emotions__subtitle {
  @include text-parameters (normal, bold , 18px, 26px, uppercase);
  margin-bottom: 15px;
  text-align: center;
}

.emotions__input {
  padding: 13px 23px 29px 21px;
<<<<<<< HEAD
  width: 235px;
=======
  width: 100%;
>>>>>>> 309eec6e58f4235ea6a9c8e19e11b6b6933b63f2
  height: 118px;
  background-color: $background-color;
  border: none;
}
<<<<<<< HEAD
=======

// Планшет

@media (min-width: $tablet-width) {
  .emotions {
    order: 5;
    width: 100%;
    padding: 0 0 58px 0;
  }

  .emotions__input {
    width: 100%;
  }

  .emotions__subtitle {
    font-size: 21px;
    margin-bottom: 54.5px;
  }
}
>>>>>>> 309eec6e58f4235ea6a9c8e19e11b6b6933b63f2
