.impression {
  padding: 0 28px 47px 24px;
}

.impression__subtitle {
  @include text-parameters (normal, bold , 18px, 26px, uppercase);
  margin-bottom: 25px;
  text-align: center;
}

.impression__list {
  @include reset-list;
}

.impression__label {
  @include text-parameters (normal, bold , 14px, 26px, uppercase);
}

.impression__item-point {
  margin-right: 26px;
}

.impression__item {
  margin-bottom: 21px;
}

.impression__item:last-child {
  margin-bottom: 0;
}

// Планшет

@media (min-width: $tablet-width) {
  .impression {
    order: 1;
    width: 50%;
    padding: 0 39px 86px 0;
  }

  .impression__subtitle {
    font-size: 21px;
    text-align: start;
    margin-bottom: 60px;
  }
}

// Десктоп

@media (min-width: $desktop-width) {
  .impression {
    order: 1;
    width: 50%;
    padding: 0 127px 84px 8px;
  }

  .impression__label {
    font-size: 18px;
  }
}
