.visually-hidden {
  display: none;
}

<<<<<<< HEAD
=======
*,
*::before,
*::after {
  box-sizing: border-box;
}

>>>>>>> 309eec6e58f4235ea6a9c8e19e11b6b6933b63f2
img {
  max-width: 100%;
}

body {
  font-family: $base-font;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  position: relative;
  max-width: $mobile-width-container;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: $tablet-width-container;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width-container;
  }
}
