.visually-hidden {
  display: none;
}

img {
  max-width: 100%;
}

body {
  font-family: $base-font, $spare-font, sans-serif;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  position: relative;
  max-width: $mobile-width-container;
  margin: 0 auto;
}
